---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import LogosCarousel from '../components/LogosCarousel.astro';
import SectionWhy from '../components/SectionWhy.astro';
import SectionFormations from '../components/SectionFormations.astro';
import SectionProfiles from '../components/SectionProfiles.astro';
import SectionMentors from '../components/SectionMentors.astro';
import SectionQuote from '../components/SectionQuote.astro';
import SectionCareers from '../components/SectionCareers.astro';
import SectionSchool from '../components/SectionSchool.astro';
import SectionFunding from '../components/SectionFunding.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <TopBar />
  <Nav />
  <main>
    <Hero />
    <LogosCarousel />
    <SectionWhy />
    <SectionFormations />
    <SectionProfiles />
    <SectionMentors />
    <SectionQuote />
    <SectionCareers />
    <SectionSchool />
    <SectionFunding />
  </main>
  <Footer />
</Layout>
